<link rel='stylesheet' href='stylez.css'/>

<nav>
  <ul id='nav-bar'>
    <li>
      <%#HEX VALUES!!!  %>
    <%#= <a href="/">Home</a> %>
    </li>
    <li>
      <a href="/stations">Stations</a>
    </li>
    <li>
      <a href="/conditions">Weather Conditions</a>
    </li>
    <li>
      <a href="/trips">Trips</a>
    </li>
    <li style="float:right">
      <h1>CONDITIONS</h1>
    </li>
  </ul>
</nav>

  <body>
    <style media="screen">
    body {
      background-image: url("bike images1.jpg");
      background-attachment: fixed;
      margin: 0;
    }
    </style>
    <h1>All Conditions</h1>
    <form class="new_condition_button" action="/conditions/new" >
      <input type="submit" value="Add a Condition">
    </form>
    <% @conditions.each do |condition| %>
      Date: <%= condition.date %><br>
      Precipitaion: <%= condition.precipitation %>
      Mean Temperature: <%= condition.mean_temp %><br>
    <% end %>
    <%= will_paginate @conditions %>
  </body>
</html>
