<form class="new_condition" action="/conditions" method="post">
  <input type="text" name="condition[date]" value="date">
  <input type="text" name="condition[max_temp]" value="max temp">
  <input type="text" name="condition[mean_temp]" value="mean temp">
  <input type="text" name="condition[min_temp]" value="min temp">
  <input type="text" name="condition[mean_humidity]" value="mean humidity">
  <input type="text" name="condition[mean_visibility]" value="mean visibility">
  <input type="text" name="condition[mean_wind]" value="mean wind">
  <input type="text" name="condition[precipitation]" value="precipitaiton">
  <input type="submit" value="Create Condition">
</form>
