<h1>MOST TRIPS IN A DAY: <%= @most_trips_for_a_day %></h1>
High temp on this day <%= @high_on_most_trips_day %>
Low temp on this day <%= @low_on_most_trips_day %>
<h1>LEAST TRIPS IN A DAY: <%= @least_trips_for_a_day %></h1>
