<form class="new_trip" action="/trips" method="post">
  <input type="text" name="trip[duration]" value="duration">
  <input type="text" name="trip[start_date]" value="start_date">
  <input type="text" name="trip[start_station]" value="start_station">
  <input type="text" name="trip[end_date]" value="end_date">
  <input type="text" name="trip[end_station]" value="end_station">
  <input type="text" name="trip[bike_id]" value="bikd_id">
  <input type="text" name="trip[subscription_type]" value="subscription_type">
  <input type="text" name="trip[zip_code]" value="zip_code">
  <input type="submit" value="Create Trip">
</form>
