<h1>Total count of stations: <%= @stations.count %></h1>
<h1>Average bikes available per station: <%= @average_per_dock %></h1>
<h1>Most bikes available at a station: <%= @most_bikes_at_a_station %></h1>
<h1>Station(s) where the most bikes are available: <%= @station_with_most_bikes %></h1>
