<link rel='stylesheet' href='awelcome.css'/>

<nav>
  <ul class='welcome-nav-bar'>
    <li>
      <a href="/stations">Stations</a>
    </li>
    <li>
      <a href="/conditions">Weather Conditions</a>
    </li>
    <li>
      <a href="/trips">Trips</a>
    </li>
    <li style="float:right">
      <h1>BIKE SHARE</h1>
    </li>
  </ul>
</nav>
<h1>NEED TO PUT THE TEXT IN A BOX THAT IS CENTERED ON THE PAGE</h1>
<h1>NEED TO CHANGE BIKE SHARE TO WHITE</h1>
<h1>NEED TO CHANGE THE FONT OF THE WORDS IN THE NAV BAR</h1>
<h1>NEED TO CHANGE THE BULLET STYLE OF THE TEXT</h1>
<div class="welcome-page">
  <li>
    This an app that allows users to report weather conditions,
  how many bikes are available at a station and what location they are reporting
  from.
  </li>
  <li>
    On the dashboards, you can view other stats like the most trips on a specific day.
  </li>
  <li>
    Bust this, I'm kicking like Seagal, Out for Justice. The roughness, yes the rudeness, ruckus. Redrum, I verbally assault with the tongue. Murder one, my style shock ya knot like a stun-gun. I'm hectic, I wreck it with the quickness.
  </li>
</div>
