<link rel='stylesheet' href='stylev.css'/>

<nav>
  <ul id='nav-bar'>
    <li>
      <a href="/stations">Stations</a>
    </li>
    <li>
      <a href="/conditions">Weather Conditions</a>
    </li>
    <li>
      <a href="/trips">Trips</a>
    </li>
    <li style="float:right">
      <h1>HOME</h1>
    </li>
  </ul>
</nav>
